@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;700&family=Poppins&display=swap');

*{
    font-family: 'Outfit', sans-serif;
    box-sizing: border-box;;
    padding: 0;
    margin: 0;
}

.container{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.content{
    background-color: hsl(0, 0%, 100%);
    height: auto;
    text-align: center;
    border-radius: 12px;
    padding: 15px;
    max-width: 270px;
}
.qr-code{
    width: 100%;
}
.qr-code img{
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.paragraph{
    padding: 12px 10px 12px 10px;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    text-align: center;
}
.paragraph .title{
    /* 
     this is the font-size as specified in the intructions, just uncomment this if you want to follow the instructions
    font-size: 15px; 
    
    */
    font-size: 19px;
    color: hsl(0, 0%, 20%);
    font-weight: 700;

    margin-bottom: 10px;
}
.paragraph .subtitle{
    /* 
    this is the font-size as specified in the intructions, just uncomment this if you want to follow the instructions
    font-size: 15px; 
    
    */
    font-size: 14px;
    color: hsl(0, 0%, 67%);
    font-weight: 400;
}
